html {
  font: 400 10px var(--font-main);
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  min-height: 100%;
  color: var(--clr-white);
  background-color: var(--clr-bg);
}

body.fix {
  position: fixed;
  width: 100%;
}

.wrapper {
  width: 100vw;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: hidden;
  position: relative;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.main {
  padding-bottom: 15rem;
}

.container {
  max-width: 1310px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}

.container--narrow {
  max-width: 1264px;
}

.container--wide {
  max-width: 1375px;
}

.row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2.4rem;
}

.row--sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.row .col {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.row .col--m-50 {
  width: 50%;
}

.btn {
  font: 600 1.6rem var(--font-main);
  color: inherit;
  border-radius: var(--brd-radius);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.9rem;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -110%;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.0901960784);
  border-radius: var(--brd-radius);
  -webkit-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
  z-index: 1;
}

.btn:hover::before {
  left: 0;
}

.btn-transparent {
  padding: 1.4rem 3rem;
  font-size: 2.2rem;
  line-height: 1;
  background-color: transparent;
  border: 2px solid var(--clr-white);
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.btn-grey {
  background-color: var(--clr-gray) !important;
  font-weight: 800 !important;
}

.btn-red {
  background-color: var(--clr-red) !important;
}

.btn--with-arrow {
  font-family: var(--font-second);
  font-weight: 500;
  font-size: 2rem;
  padding: 1.3rem 4.5rem 1.3rem 2rem;
  letter-spacing: 1px;
  border: 1px solid rgba(255, 185, 185, 0.3);
  border-radius: 4.8rem;
  background-color: var(--clr-bg-gray);
}

.btn--with-arrow::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  border-top: 2px solid var(--clr-white);
  border-right: 2px solid var(--clr-white);
  top: 50%;
  right: 23px;
  -webkit-transform: translateY(-50%) rotate(45deg);
      -ms-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}

.btn--with-arrow:hover {
  border: 1px solid #F27474;
}

.title {
  width: 100%;
}

h1,
h2,
h3 {
  font-family: var(--font-main);
  font-weight: 700;
  color: var(--clr-white);
  text-align: start;
}

h1 {
  font-size: 50px;
  line-height: 1.2;
  letter-spacing: -0.02em;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-weight: 600;
  font-size: 3rem;
  line-height: 1.2;
}

.section {
  padding: 11rem 0 3rem;
}

.search-block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-block__input {
  border: none;
  outline: none;
  width: 85%;
  height: 100%;
  border-radius: var(--brd-radius) 0 0 var(--brd-radius);
  font-size: 1.8rem;
}

.search-block__btn {
  border: none;
  outline: none;
  width: 15%;
  border-radius: 0 var(--brd-radius) var(--brd-radius) 0;
  cursor: pointer;
  position: relative;
  -webkit-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
  overflow: hidden;
}

.search-block__btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: -110%;
  width: 100%;
  height: 100%;
  border-radius: 0 var(--brd-radius) var(--brd-radius) 0;
  -webkit-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
  z-index: 1;
}

.search-block__btn i {
  font-size: 2rem;
  -webkit-transition: 0.2s ease-in 0.1s;
  transition: 0.2s ease-in 0.1s;
  position: relative;
  z-index: 2;
}

.search-block__btn i::before {
  -webkit-transition: 0.2s ease-in 0.1s;
  transition: 0.2s ease-in 0.1s;
}

@media screen and (max-width: 992px) {
  .main {
    padding-bottom: 7rem;
  }

  .section {
    padding-top: 5rem;
  }
}

@media screen and (max-width: 768px) {
  .main {
    padding-bottom: 5rem;
  }

  .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .row .col {
    width: 100%;
  }

  .row .col--m-50 {
    width: 100%;
  }
}

@media screen and (max-width: 445px) {
  .btn-transparent {
    font-size: 2rem;
    padding: 1.4rem 1.5rem;
  }
}

@media screen and (max-width: 425px) {
  .btn--with-arrow::after {
    right: 20px;
  }

  .btn--with-arrow {
    font-size: 1.6rem;
    padding: 1rem 3.5rem 1rem 1.5rem;
  }
}

@media screen and (max-width: 375px) {
  .btn-transparent {
    font-size: 1.6rem;
  }

  h2 {
    font-size: 2.8rem;
  }

  h3 {
    font-size: 2.6rem;
  }
}