.bg-image {
  position: absolute;
  z-index: -1;
}

.bg-image--b-l {
  width: 35%;
  bottom: -30%;
  left: 0;
}

.bg-image--b-r {
  width: 23%;
  bottom: -27%;
  right: -1%;
}

.bg-image--t-r {
  width: 35%;
  top: 0;
  right: 0%;
}