.mini-catalog {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 4rem;
}

.mini-catalog__row {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2.4rem;
}

.mini-catalog__category {
  padding: 3.6rem;
  border-radius: 5.8rem;
  width: 304px;
  min-height: 304px;
  background: var(--clr-bg-gray);
  position: relative;
  overflow: hidden;
  z-index: 2;
  border: 1px solid #4D4D4D;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  -webkit-box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.08);
}

.mini-catalog__category:hover {
  border: 1px solid #F27474;
}

.mini-catalog__category img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 90%;
  z-index: 1;
}

.mini-catalog__title h3 {
  line-height: 1.35;
}

.mini-catalog__title h3 span {
  font-size: 2.6rem;
}

.card-product {
  padding: 0 0 1.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border-radius: 2rem;
}

.card-product img {
  position: static;
  width: 100%;
}

.card-product__content {
  padding: 0 1.9rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3px;
}

.card-product__content h3 {
  font-size: 2rem;
}

.card-product__weight {
  font-family: inherit;
  font-weight: 400;
  font-size: 1.4rem;
  color: #c7c7c7;
}

.card-product__price {
  display: inline;
  font-family: inherit;
  font-weight: 600;
  font-size: 2.4rem;
  color: #ff3f3f;
}

@media screen and (max-width: 1307px) {
  .mini-catalog {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 992px) {
  .mini-catalog__row {
    max-width: 635px;
    width: 100%;
    margin: 0 auto;
  }

  .card-product__content h3 {
    font-size: 1.8rem;
  }

  .card-product__weight {
    font-size: 1.2rem;
  }

  .card-product__price {
    font-size: 2.2rem;
  }
}

@media screen and (max-width: 425px) {
  .mini-catalog__category {
    width: 290px;
  }

  .mini-catalog__title h3 {
    font-size: 2.4rem;
  }

  .mini-catalog__title h2 {
    font-size: 2.8rem;
  }
}

@media screen and (max-width: 375px) {
  .mini-catalog__category {
    width: 280px;
  }
}