:root {
  --font-main: "Nunito", sans-serif;
  --font-second: "Ubuntu", sans-serif;
  --clr-bg: #181818;
  --clr-bg-gray: #2d2d2d;
  --clr-white: #ffffff;
  --clr-red: #881010;
  --clr-gray: #282828;
  --clr-green-y: #3E5828;
  --brd-radius: 2.6rem;
}

.section-bunners {
  width: 100%;
  min-height: 681px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url("./../img/bg/main-bg.png") center/cover no-repeat;
}

.section-bunners__grid {
  width: 100%;
  min-height: 460px;
}

.section-bunners__title {
  max-width: 600px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
  position: relative;
  z-index: 3;
}

.section-bunners__title h1 {
  font-size: calc(24px + 23.409 * (100vw - 320px) / 1310);
}

.bunner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  border-radius: var(--brd-radius);
  background-size: cover;
  overflow: hidden;
  z-index: 1;
}

.bunner::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.bunner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.bunner span {
  font-family: var(--font-main);
  font-weight: 700;
  font-size: 2.8rem;
  line-height: 120%;
  position: relative;
  z-index: 2;
}

.bunner--main {
  padding: 5.2rem;
}

.bunner--main::after {
  background: radial-gradient(276.41% 107.6% at 69.72% 6.74%, rgb(255, 169, 0) 0%, rgb(202, 13, 13) 100%);
}

.bunner--main::before {
  background: url("./../img/bunner_meat.png") right no-repeat;
  background-size: contain;
}

.bunner--t {
  width: 100%;
  min-height: 218px;
  padding: 2.4rem;
}

.bunner--t::before {
  background: url("./../img/shopping_basket.png") right no-repeat;
}

.bunner--t::after {
  content: "";
  background: radial-gradient(277.83% 115.86% at 4.95% 0%, rgb(169, 210, 136) 0%, rgb(254, 164, 1) 100%);
}

.bunner--t span {
  display: block;
  max-width: 200px;
  width: 100%;
  color: var(--clr-green-y);
  position: relative;
  z-index: 2;
}

.bunner--b {
  width: 100%;
  min-height: 218px;
  padding: 2.4rem;
}

.bunner--b::before {
  width: 120px;
  height: 120px;
  top: 3rem;
  right: 1.5rem;
  background: url("./../img/like.png") right no-repeat;
}

.bunner--b::after {
  content: "";
  background: radial-gradient(353.76% 155.02% at 100% 126.61%, rgb(255, 0, 0) 0%, rgb(214, 174, 71) 100%);
}

.bunner--b span {
  color: var(--clr-white);
}

.block-rating {
  margin-bottom: 2rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.6rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.block-rating img {
  width: 2.2rem;
  height: 2.2rem;
}

@media screen and (max-width: 768px) {
  .bunner::before {
    right: -100px;
  }

  .bunner--main {
    padding: 7rem 4rem 4rem;
  }
}

@media screen and (max-width: 475px) {
  .bunner--main {
    padding: 4rem 2rem;
  }

  .bunner--main::before {
    background-size: cover;
  }
}

@media screen and (max-width: 375px) {
  .bunner span {
    font-size: 2.2rem;
  }
}